<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Students List</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/ui/students" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Students</a>
        </h3>
        <h2>Students List</h2>
        <div class="table-responsive">
            <table class="table" id="student-table">
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Student Course</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${studentsList}">
                    <td><a th:text="${student.name}" th:href="@{'/students/' + ${student.id}}"></a></td>
                    <td th:text="${student.course}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <p>
            <a href="/ui/students-add" class="link">Add New Students</a>
        </p>
    </div>
</div>
</body>
</html>